<div>
  <%= content_tag :div, id: 'question-container', data: {image_file_name: @question.image_file_name, audio_file_name: asset_path(@question.audio_file_name), answer: @question.answer, letters: @question.letters} do %>
  <div class="container main-container">
    <div class="instruction">
      <p>Click on the image to hear the sound</p>
    </div>

    <div class="question-image">
      <%= image_tag(@question.image_file_name) %>
    </div>

    <div class="letter-container">
      <!-- <% @question.letters.each_char do |l| %>
        <div class="letter-button"><%= l %></div>
      <% end %> -->
    <p class="image-translation">(<%= @question.translation %>)</p>
    </div>

    <div class="user-answer"></div>
    <div class="clear-answer">Clear</div>
    <div class="submit-button">Check Answer</div>
  </div>

  <!-- Modal -->
  <div id="answer-result-modal" class="modal">
    <div class="modal-content">
      <span class="close">
        <% if @question.end_of_level %>
          <%= link_to "Done!", root_path %>
        <% else %>
          <%= link_to "Next", question_path(id: @question.id + 1)%>
        <% end %>
      </span>
      <!-- <span class="close">Close</span> -->
      <p class="result-text">RESULT</p>
    </div>
  </div>
  <% end %>
</div>

<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/buzz/1.2.0/buzz.min.js"></script> -->
