<div>
  <%= content_tag :div, id: 'prep-container', data: {letters: @prep.letters} do %>
  <div class="container main-container">
    <h2><span><%= image_tag("makimono.png", size: "50x50") %></span>Level <%= @prep.id %></2>
    <div class="instruction">
      <p>Click on each letter to hear the sound</p>
    </div>

    <div class="prep-letter-container">
      <% @prep.letters.each_char do |l| %>
       <div class="letter-button"><%= l %></div>
     <% end %>
    </div>

    <div class="go-to-question-button">
      <%= link_to "Click here when you are ready", question_path(id: 1) %>
    </div>
  </div>
  <% end %>
</div>
